<tr>

  <td>preference.id</td>
  <td>preference.artist_sort_order</td>
  <td>preference.song_sort_order</td>
  <td>preference.allow_create_artists</td>
  <td>preference.allow_create_songs</td>

</tr>
